body {
    font-family: Arial, sans-serif;
}

.hero {
    height: 70vh;
    background: url('https://images.unsplash.com/photo-1505693416388-ac5ce068fe85') no-repeat center center/cover;
}

.hero h1 {
    font-size: 45px;
    font-weight: bold;
}

.card img {
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}